* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#buttonPause,
#buttonPlay {
    cursor: pointer;
}

.noteTop {
    transform: translateY(-400px);
}
